<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <appender name="console-out-error"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %blue(%d{HH:mm:ss.SSS}) %red([thread] %-5level %logger{64} - %msg%n)
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <appender name="console-out-debug"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %blue([%thread] %-5level) %green(%logger{64}) %cyan(%msg%n)
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <appender name="console-out-info"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %blue(%d{HH:mm:ss.SSS}) %yellow([thread] %-5level) %green(%logger{64}) - %cyan(%msg%n)
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>


    <logger name="ru.example.ivtserver" level="debug" additivity="false">
        <appender-ref ref="console-out-error"/>
        <appender-ref ref="console-out-debug"/>
        <appender-ref ref="console-out-info"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="console-out-info"/>
    </root>
</configuration>
