<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
    <style>
        p {
            font-family: sans-serif;
            color: black;
        }
    </style>
</head>
<body>

<div>
    <p>Уважаемый пользователь!</p>

    <p>Вы воспользовались процедурой восстановление пароля на сайте кафедры
        <a href="http://localhost:8080/">ИВТ</a>
    </p>

    <p>Для получения нового пароля перейдите по указанной ссылке:</p>

    <a th:href="@{http://localhost:8080/updatapass/{token} (token=${token})}"
       th:text="'http://localhost:8080/updatapass/' + ${token}"></a>

    <p>Ссылка действует в течение часа с момента отправки данного письма</p>

    <p>Если вы не обращались к процедуре восстановление пароля, просто проигнорируйте данной письмо.
        Ваш пароль не будет изменен</p>

    <p>
        С уважением,<br>
        Администрация сайта
    </p>
</div>

</body>
</html>